* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgb(17, 170, 178);
}

.header_link {
  font-style: no;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: white;

}

.top {
  padding-top: 84px;
  padding-bottom: 84px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  color: rgba(10, 10, 120, 0.209);
  mix-blend-mode: normal;
}

.about {
  background: rgba(10, 10, 120, 0.209);
  padding-top: 64px;
  padding-bottom: 194px;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 80px;
  color: rgba(10, 10, 120, 0.209);
  mix-blend-mode: normal;
}

.about__content {
  margin-top: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
}

/* .about_txt {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  color: rgba(10, 10, 120, 0.209);
  mix-blend-mode: normal;
} */