/* ====Задание 2==== */
div {
	margin: 0 0 10px 0;
}

/* ====ENDЗадание 2==== */



/* ====Задание 3====
label {
	display: block;
	padding: 0 0 0 20px;
	position: relative;
}

label::before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	outline: 2px solid red;
	position: absolute;
	top: 3px;
	left: 0;
}

input[type="checkbox"]:checked~label::before {
	background-image: url();
	background-repeat: no-repeat;
	background-size: ;
} */



/* ====END Задание 3==== */